<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = 1050, user-scalable = no" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Publicações CM Évora</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='jquery/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->

   <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='jquery/js/ie-emulation-modes-warning.js') }}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


 <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"> 

    <script src="{{ url_for('static', filename='jquery/js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/modernizr.2.5.3.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/turn/hash.js') }}"></script>


    <link href="{{ url_for('static', filename='css/basic.css') }}" rel="stylesheet">


  </head>

  <body>
  
  <!-- NavBar -->
   <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a href="http://www.cm-evora.pt/pt/Paginas/home.aspx" class="navbar-left"><img src="{{url_for('static', filename='../static/imgs/logo.png')}}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Início</a></li>
            <li><a href="/viewer">Publicações</a></li>
			<li><a href="/contactos">Contactos</a></li>
          </ul>
		<div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search" method="post" action="{{ url_for('searchterm') }}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar" name="search_term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>        
    </div>
        </div><!--/.nav-collapse -->
    </nav>

  
    <!-- Placed at the end of the document so the pages load faster 
    <script>window.jQuery || document.write("<script src='{{ url_for('static', filename='jquery/js/jquery.min.1.7.js') }}'></script>")</script>
-->

    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url_for('static', filename='jquery/js/ie10-viewport-bug-workaround.js') }}"></script> 









<div id="canvas">

<div class="zoom-icon zoom-icon-in"></div>

<div class="magazine-viewport">
	<div class="container">
		<div class="magazine">
			<!-- Next button -->
			<div ignore="1" class="next-button"></div>
			<!-- Previous button -->
			<div ignore="1" class="previous-button"></div>
		</div>
	</div>
</div>

<!-- Thumbnails -->
<div class="thumbnails">
	<div>
		<ul>
			<li class="i">
				<img src="{{ url_for('static', filename='imgs/publications/pub11/1-thumb.jpg')}}" width="51" height="79" class="page-1">
				<span>1</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/2-thumb.jpg')}}" width="51" height="79" class="page-2">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/3-thumb.jpg')}}" width="51" height="79" class="page-3">
				<span>2-3</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/4-thumb.jpg')}}" width="51" height="79" class="page-4">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/5-thumb.jpg')}}" width="51" height="79" class="page-5">
				<span>4-5</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/6-thumb.jpg')}}" width="51" height="79" class="page-6">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/7-thumb.jpg')}}" width="51" height="79" class="page-7">
				<span>6-7</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/8-thumb.jpg')}}" width="51" height="79" class="page-8">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/9-thumb.jpg')}}" width="51" height="79" class="page-9">
				<span>8-9</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/10-thumb.jpg')}}" width="51" height="79" class="page-10">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/11-thumb.jpg')}}" width="51" height="79" class="page-11">
				<span>10-11</span>
			</li>
			<li class="d">
				<img src="{{ url_for('static', filename='imgs/publications/pub11/12-thumb.jpg')}}" width="51" height="79" class="page-12">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/13-thumb.jpg')}}" width="51" height="79" class="page-13">
				<span>12-13</span>
			</li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/14-thumb.jpg')}}" width="51" height="79" class="page-14">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/15-thumb.jpg')}}" width="51" height="79" class="page-15">
                                <span>14-15</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/16-thumb.jpg')}}" width="51" height="79" class="page-16">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/17-thumb.jpg')}}" width="51" height="79" class="page-17">
                                <span>16-17</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/18-thumb.jpg')}}" width="51" height="79" class="page-18">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/19-thumb.jpg')}}" width="51" height="79" class="page-19">
                                <span>18-19</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/20-thumb.jpg')}}" width="51" height="79" class="page-20">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/21-thumb.jpg')}}" width="51" height="79" class="page-21">
                                <span>20-21</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/22-thumb.jpg')}}" width="51" height="79" class="page-22">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/23-thumb.jpg')}}" width="51" height="79" class="page-23">
                                <span>22-23</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/24-thumb.jpg')}}" width="51" height="79" class="page-24">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/25-thumb.jpg')}}" width="51" height="79" class="page-25">
                                <span>24-25</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/26-thumb.jpg')}}" width="51" height="79" class="page-26">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/27-thumb.jpg')}}" width="51" height="79" class="page-27">
                                <span>26-27</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/28-thumb.jpg')}}" width="51" height="79" class="page-28">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/29-thumb.jpg')}}" width="51" height="79" class="page-29">
                                <span>28-29</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/30-thumb.jpg')}}" width="51" height="79" class="page-30">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/31-thumb.jpg')}}" width="51" height="79" class="page-31">
                                <span>30-31</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/32-thumb.jpg')}}" width="51" height="79" class="page-32">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/33-thumb.jpg')}}" width="51" height="79" class="page-33">
                                <span>32-33</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/34-thumb.jpg')}}" width="51" height="79" class="page-34">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/35-thumb.jpg')}}" width="51" height="79" class="page-35">
                                <span>34-35</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/36-thumb.jpg')}}" width="51" height="79" class="page-36">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/37-thumb.jpg')}}" width="51" height="79" class="page-37">
                                <span>36-37</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/38-thumb.jpg')}}" width="51" height="79" class="page-38">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/39-thumb.jpg')}}" width="51" height="79" class="page-39">
                                <span>38-39</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/40-thumb.jpg')}}" width="51" height="79" class="page-40">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/41-thumb.jpg')}}" width="51" height="79" class="page-41">
                                <span>40-41</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/42-thumb.jpg')}}" width="51" height="79" class="page-42">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/43-thumb.jpg')}}" width="51" height="79" class="page-43">
                                <span>42-43</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/44-thumb.jpg')}}" width="51" height="79" class="page-44">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/45-thumb.jpg')}}" width="51" height="79" class="page-45">
                                <span>44-45</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/46-thumb.jpg')}}" width="51" height="79" class="page-46">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/47-thumb.jpg')}}" width="51" height="79" class="page-47">
                                <span>46-47</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/48-thumb.jpg')}}" width="51" height="79" class="page-48">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/49-thumb.jpg')}}" width="51" height="79" class="page-49">
                                <span>48-49</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/50-thumb.jpg')}}" width="51" height="79" class="page-50">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/51-thumb.jpg')}}" width="51" height="79" class="page-51">
                                <span>50-51</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/52-thumb.jpg')}}" width="51" height="79" class="page-52">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/53-thumb.jpg')}}" width="51" height="79" class="page-53">
                                <span>52-53</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/54-thumb.jpg')}}" width="51" height="79" class="page-54">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/55-thumb.jpg')}}" width="51" height="79" class="page-55">
                                <span>54-55</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/56-thumb.jpg')}}" width="51" height="79" class="page-56">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/57-thumb.jpg')}}" width="51" height="79" class="page-57">
                                <span>56-57</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/58-thumb.jpg')}}" width="51" height="79" class="page-58">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/59-thumb.jpg')}}" width="51" height="79" class="page-59">
                                <span>58-59</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/60-thumb.jpg')}}" width="51" height="79" class="page-60">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/61-thumb.jpg')}}" width="51" height="79" class="page-61">
                                <span>60-61</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/62-thumb.jpg')}}" width="51" height="79" class="page-62">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/63-thumb.jpg')}}" width="51" height="79" class="page-63">
                                <span>62-63</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/64-thumb.jpg')}}" width="51" height="79" class="page-64">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/65-thumb.jpg')}}" width="51" height="79" class="page-65">
                                <span>64-65</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/66-thumb.jpg')}}" width="51" height="79" class="page-66">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/67-thumb.jpg')}}" width="51" height="79" class="page-67">
                                <span>66-67</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/68-thumb.jpg')}}" width="51" height="79" class="page-68">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/69-thumb.jpg')}}" width="51" height="79" class="page-69">
                                <span>68-69</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/70-thumb.jpg')}}" width="51" height="79" class="page-70">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/71-thumb.jpg')}}" width="51" height="79" class="page-71">
                                <span>70-71</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/72-thumb.jpg')}}" width="51" height="79" class="page-72">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/73-thumb.jpg')}}" width="51" height="79" class="page-73">
                                <span>72-73</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/74-thumb.jpg')}}" width="51" height="79" class="page-74">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/75-thumb.jpg')}}" width="51" height="79" class="page-75">
                                <span>74-75</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/76-thumb.jpg')}}" width="51" height="79" class="page-76">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/77-thumb.jpg')}}" width="51" height="79" class="page-77">
                                <span>76-77</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/78-thumb.jpg')}}" width="51" height="79" class="page-78">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/79-thumb.jpg')}}" width="51" height="79" class="page-79">
                                <span>78-79</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/80-thumb.jpg')}}" width="51" height="79" class="page-80">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/81-thumb.jpg')}}" width="51" height="79" class="page-81">
                                <span>80-81</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/82-thumb.jpg')}}" width="51" height="79" class="page-82">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/83-thumb.jpg')}}" width="51" height="79" class="page-83">
                                <span>82-83</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/84-thumb.jpg')}}" width="51" height="79" class="page-84">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/85-thumb.jpg')}}" width="51" height="79" class="page-85">
                                <span>84-85</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/86-thumb.jpg')}}" width="51" height="79" class="page-86">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/87-thumb.jpg')}}" width="51" height="79" class="page-87">
                                <span>86-87</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/88-thumb.jpg')}}" width="51" height="79" class="page-88">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/89-thumb.jpg')}}" width="51" height="79" class="page-89">
                                <span>88-89</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/90-thumb.jpg')}}" width="51" height="79" class="page-90">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/91-thumb.jpg')}}" width="51" height="79" class="page-91">
                                <span>90-91</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/92-thumb.jpg')}}" width="51" height="79" class="page-92">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/93-thumb.jpg')}}" width="51" height="79" class="page-93">
                                <span>92-93</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/94-thumb.jpg')}}" width="51" height="79" class="page-94">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/95-thumb.jpg')}}" width="51" height="79" class="page-95">
                                <span>94-95</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/96-thumb.jpg')}}" width="51" height="79" class="page-96">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/97-thumb.jpg')}}" width="51" height="79" class="page-97">
                                <span>96-97</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/98-thumb.jpg')}}" width="51" height="79" class="page-98">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/99-thumb.jpg')}}" width="51" height="79" class="page-99">
                                <span>98-99</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/100-thumb.jpg')}}" width="51" height="79" class="page-100">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/101-thumb.jpg')}}" width="51" height="79" class="page-101">
                                <span>100-101</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/102-thumb.jpg')}}" width="51" height="79" class="page-102">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/103-thumb.jpg')}}" width="51" height="79" class="page-103">
                                <span>102-103</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/104-thumb.jpg')}}" width="51" height="79" class="page-104">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/105-thumb.jpg')}}" width="51" height="79" class="page-105">
                                <span>104-105</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/106-thumb.jpg')}}" width="51" height="79" class="page-106">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/107-thumb.jpg')}}" width="51" height="79" class="page-107">
                                <span>106-107</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/108-thumb.jpg')}}" width="51" height="79" class="page-108">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/109-thumb.jpg')}}" width="51" height="79" class="page-109">
                                <span>108-109</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/110-thumb.jpg')}}" width="51" height="79" class="page-110">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/111-thumb.jpg')}}" width="51" height="79" class="page-111">
                                <span>110-111</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/112-thumb.jpg')}}" width="51" height="79" class="page-112">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/113-thumb.jpg')}}" width="51" height="79" class="page-113">
                                <span>112-113</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/114-thumb.jpg')}}" width="51" height="79" class="page-114">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/115-thumb.jpg')}}" width="51" height="79" class="page-115">
                                <span>114-115</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/116-thumb.jpg')}}" width="51" height="79" class="page-116">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/117-thumb.jpg')}}" width="51" height="79" class="page-117">
                                <span>116-117</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/118-thumb.jpg')}}" width="51" height="79" class="page-118">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/119-thumb.jpg')}}" width="51" height="79" class="page-119">
                                <span>118-119</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/120-thumb.jpg')}}" width="51" height="79" class="page-120">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/121-thumb.jpg')}}" width="51" height="79" class="page-121">
                                <span>120-121</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/122-thumb.jpg')}}" width="51" height="79" class="page-122">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/123-thumb.jpg')}}" width="51" height="79" class="page-123">
                                <span>122-123</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/124-thumb.jpg')}}" width="51" height="79" class="page-124">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/125-thumb.jpg')}}" width="51" height="79" class="page-125">
                                <span>124-125</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/126-thumb.jpg')}}" width="51" height="79" class="page-126">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/127-thumb.jpg')}}" width="51" height="79" class="page-127">
                                <span>126-127</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/128-thumb.jpg')}}" width="51" height="79" class="page-128">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/129-thumb.jpg')}}" width="51" height="79" class="page-129">
                                <span>128-129</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/130-thumb.jpg')}}" width="51" height="79" class="page-130">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/131-thumb.jpg')}}" width="51" height="79" class="page-131">
                                <span>130-131</span>
                        </li>
                        <li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/132-thumb.jpg')}}" width="51" height="79" class="page-132">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/133-thumb.jpg')}}" width="51" height="79" class="page-133">
                                <span>132-133</span>
                        </li>

			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/134-thumb.jpg')}}" width="51" height="79" class="page-134">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/135-thumb.jpg')}}" width="51" height="79" class="page-135">
				<span>134-135</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/136-thumb.jpg')}}" width="51" height="79" class="page-136">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/137-thumb.jpg')}}" width="51" height="79" class="page-137">
				<span>136-137</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/138-thumb.jpg')}}" width="51" height="79" class="page-138">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/139-thumb.jpg')}}" width="51" height="79" class="page-139">
				<span>138-139</span>
			</li>
			<li class="d">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/140-thumb.jpg')}}" width="51" height="79" class="page-140">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/141-thumb.jpg')}}" width="51" height="79" class="page-141">
				<span>140-141</span>
			</li>



                        <li class="i">
                                <img src="{{ url_for('static', filename='imgs/publications/pub11/142-thumb.jpg')}}" width="51" height="79" class="page-142">
                                <span>142</span>
                        </li>



		<ul>
	<div>	
</div>
</div>

<script type="text/javascript">

function loadApp() {

 	$('#canvas').fadeIn(1000);

 	var flipbook = $('.magazine');

 	// Check if the CSS was already loaded
	
	if (flipbook.width()==0 || flipbook.height()==0) {
		setTimeout(loadApp, 10);
		return;
	}
	
	// Create the flipbook

	flipbook.turn({
			
			// Magazine width

			width: 922,

			// Magazine height

			height: 600,

			// Duration in millisecond

			duration: 1000,

			// Hardware acceleration

			acceleration: !isChrome(),

			// Enables gradients

			gradients: true,
			
			// Auto center this flipbook

			autoCenter: true,

			// Elevation from the edge of the flipbook when turning a page

			elevation: 50,

			// The number of pages

			pages: 142,

			// Events

			when: {
				turning: function(event, page, view) {
					
					var book = $(this),
					currentPage = book.turn('page'),
					pages = book.turn('pages');
			
					// Update the current URI

					Hash.go('page/' + page).update();

					// Show and hide navigation buttons

					disableControls(page);
					

					$('.thumbnails .page-'+currentPage).
						parent().
						removeClass('current');

					$('.thumbnails .page-'+page).
						parent().
						addClass('current');



				},

				turned: function(event, page, view) {

					disableControls(page);

					$(this).turn('center');

					if (page==1) { 
						$(this).turn('peel', 'br');
					}

				},

				missing: function (event, pages) {

					// Add pages that aren't in the magazine

					for (var i = 0; i < pages.length; i++)
						addPage(pages[i], $(this));

				}
			}

	});

	// Zoom.js

	$('.magazine-viewport').zoom({
		flipbook: $('.magazine'),

		max: function() { 
			
			return largeMagazineWidth()/$('.magazine').width();

		}, 

		when: {

			swipeLeft: function() {

				$(this).zoom('flipbook').turn('next');

			},

			swipeRight: function() {
				
				$(this).zoom('flipbook').turn('previous');

			},

			resize: function(event, scale, page, pageElement) {

				if (scale==1)
					loadSmallPage(page, pageElement);
				else
					loadLargePage(page, pageElement);

			},

			zoomIn: function () {

				$('.thumbnails').hide();
				$('.made').hide();
				$('.magazine').removeClass('animated').addClass('zoom-in');
				$('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');
				
				if (!window.escTip && !$.isTouch) {
					escTip = true;

					$('<div />', {'class': 'exit-message'}).
						html('<div>Pressione ESC para sair</div>').
							appendTo($('body')).
							delay(2000).
							animate({opacity:0}, 500, function() {
								$(this).remove();
							});
				}
			},

			zoomOut: function () {

				$('.exit-message').hide();
				$('.thumbnails').fadeIn();
				$('.made').fadeIn();
				$('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');

				setTimeout(function(){
					$('.magazine').addClass('animated').removeClass('zoom-in');
					resizeViewport();
				}, 0);

			}
		}
	});

	// Zoom event

	if ($.isTouch)
		$('.magazine-viewport').bind('zoom.doubleTap', zoomTo);
	else
		$('.magazine-viewport').bind('zoom.tap', zoomTo);


	// Using arrow keys to turn the page

	$(document).keydown(function(e){

		var previous = 37, next = 39, esc = 27;

		switch (e.keyCode) {
			case previous:

				// left arrow
				$('.magazine').turn('previous');
				e.preventDefault();

			break;
			case next:

				//right arrow
				$('.magazine').turn('next');
				e.preventDefault();

			break;
			case esc:
				
				$('.magazine-viewport').zoom('zoomOut');	
				e.preventDefault();

			break;
		}
	});

	// URIs - Format #/page/1 

	Hash.on('^page\/([0-9]*)$', {
		yep: function(path, parts) {
			var page = parts[1];

			if (page!==undefined) {
				if ($('.magazine').turn('is'))
					$('.magazine').turn('page', page);
			}

		},
		nop: function(path) {

			if ($('.magazine').turn('is'))
				$('.magazine').turn('page', 1);
		}
	});


	$(window).resize(function() {
		resizeViewport();
	}).bind('orientationchange', function() {
		resizeViewport();
	});

	// Events for thumbnails

	$('.thumbnails').click(function(event) {
		
		var page;

		if (event.target && (page=/page-([0-9]+)/.exec($(event.target).attr('class'))) ) {
		
			$('.magazine').turn('page', page[1]);
		}
	});

	$('.thumbnails li').
		bind($.mouseEvents.over, function() {
			
			$(this).addClass('thumb-hover');

		}).bind($.mouseEvents.out, function() {
			
			$(this).removeClass('thumb-hover');

		});

	if ($.isTouch) {
	
		$('.thumbnails').
			addClass('thumbanils-touch').
			bind($.mouseEvents.move, function(event) {
				event.preventDefault();
			});

	} else {

		$('.thumbnails ul').mouseover(function() {

			$('.thumbnails').addClass('thumbnails-hover');

		}).mousedown(function() {

			return false;

		}).mouseout(function() {

			$('.thumbnails').removeClass('thumbnails-hover');

		});

	}


	// Regions

//	if ($.isTouch) {
//		$('.magazine').bind('touchstart', regionClick);
//	} else {
//		$('.magazine').click(regionClick);
//	}

	// Events for the next button

	$('.next-button').bind($.mouseEvents.over, function() {
		
		$(this).addClass('next-button-hover');

	}).bind($.mouseEvents.out, function() {
		
		$(this).removeClass('next-button-hover');

	}).bind($.mouseEvents.down, function() {
		
		$(this).addClass('next-button-down');

	}).bind($.mouseEvents.up, function() {
		
		$(this).removeClass('next-button-down');

	}).click(function() {
		
		$('.magazine').turn('next');

	});

	// Events for the next button
	
	$('.previous-button').bind($.mouseEvents.over, function() {
		
		$(this).addClass('previous-button-hover');

	}).bind($.mouseEvents.out, function() {
		
		$(this).removeClass('previous-button-hover');

	}).bind($.mouseEvents.down, function() {
		
		$(this).addClass('previous-button-down');

	}).bind($.mouseEvents.up, function() {
		
		$(this).removeClass('previous-button-down');

	}).click(function() {
		
		$('.magazine').turn('previous');

	});


	resizeViewport();

	$('.magazine').addClass('animated');

}

// Zoom icon

 $('.zoom-icon').bind('mouseover', function() { 
 	
 	if ($(this).hasClass('zoom-icon-in'))
 		$(this).addClass('zoom-icon-in-hover');

 	if ($(this).hasClass('zoom-icon-out'))
 		$(this).addClass('zoom-icon-out-hover');
 
 }).bind('mouseout', function() { 
 	
 	 if ($(this).hasClass('zoom-icon-in'))
 		$(this).removeClass('zoom-icon-in-hover');
 	
 	if ($(this).hasClass('zoom-icon-out'))
 		$(this).removeClass('zoom-icon-out-hover');

 }).bind('click', function() {

 	if ($(this).hasClass('zoom-icon-in'))
 		$('.magazine-viewport').zoom('zoomIn');
 	else if ($(this).hasClass('zoom-icon-out'))	
		$('.magazine-viewport').zoom('zoomOut');

 });

 $('#canvas').hide();


// Load the HTML4 version if there's not CSS transform

yepnope({
	test : Modernizr.csstransforms,
	yep: ['../static/js/turn/turn.js'],
	nope: ['../static/js/turn/turn.html4.min.js'],
	both: ['../static/js/turn/zoom.min.js', '../static/js/magazine11.js', '../static/css/magazine.css'],
	complete: loadApp
});

</script>



 </body>
</html>
